<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:action="@{/personnel/query}" th:object="${person}" method="post">
    <input id="cuit" name="cuit" />
    <button>Enviar</button>
</form>
<div>
    <ul>
        <li th:unless="${person}">Escriba CUIT</li>
        <li th:if="${person}" th:text="${person}"></li>
        <a th:href="@{/}">Volver al inicio</a>
    </ul>
</div>
</body>
</html>